input {
  width: 140px;
  height: 60px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 750px;
  height: 450px;
  box-shadow: inset -6px -2px 42px 5px rgba(204,204,204,0.4);
}

.inputs {
  display: flex;
  gap: 100px;
}

.type-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

#water-icon {
  width: 225px;
  height: 225px;
}

#grass {
  background-color: #02913a;
}

#fire {
  background-color: #da2c33;
}

#water {
  background-color: #0067ab;
}

#grass, #fire, #water {
  border: none;
}